.intro {
  padding-top: 92px;
  width: 64.84%;
  margin: 0 auto;
  padding-right: 12.03%;
}
.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__quote {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  width: 88.92%;
  margin-top: 40px;
}
.intro__author {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  width: 88.19%;
  text-align: end;
  margin-top: 10px;
}
.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  width: 86.99%;
  margin-top: 32px;
}

@media screen and (max-width: 784px) {
  .intro {
    padding: 0;
    padding-top: 90px;
    margin: 0 auto;
    width: 93.75%;
  }
  .intro__title {
    width: 98.19%;
    font-size: 45px;
    line-height: 49px;
  }
  .intro__quote {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
  }
  .intro__author {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
  }
  .intro__text {
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    line-height: 26.08px;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    padding: 0;
    padding-top: 64px;
    margin: 0 auto;
    width: 90%;
  }
  .intro__title {
    width: 100%;
    font-size: 32px;
    line-height: 35px;
  }
  .intro__quote {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
  }
  .intro__author {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
  }
  .intro__text {
    width: 100%;
    font-size: 16px;
    line-height: 26.08px;
  }
}
