.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  width: 76.88%;
  margin: 0 auto;
}
.lead__title {
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  width: 720px;
  text-align: center;
}
.lead__subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  width: 720px;
  text-align: center;
  margin-top: 32px;
}
.lead__image {
  margin: 0;
  margin-top: 64px;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 784px) {
  .lead {
    width: 93.75%;
    padding-top: 90px;
  }
  .lead__title {
    width: 73.61%;
    font-size: 75px;
    line-height: 79px;
  }
  .lead__subtitle {
    width: 100%;
    margin-top: 25px;
    font-size: 30px;
    line-height: 36px;
  }
  .lead__image {
    width: 100vw;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: 90%;
    padding-top: 50px;
  }
  .lead__title {
    width: 79.17%;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle {
    width: 100%;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
  .lead__image {
    width: 100vw;
    margin-top: 40px;
  }
}
