.places {
  margin: 0 auto;
  padding: 92px 0 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 76.88%;
}
.places__place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 48.435% 48.435%;
  grid-template-rows: auto 478px auto;
  row-gap: 48px;
  column-gap: 3.14%;
  height: auto;
}
.places__title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
  width: 100%;
  align-self: flex-end;
}
.places__image {
  height: auto;
  width: 100%;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  min-height: 0;
}
.places__image:hover {
  opacity: 50%;
  cursor: pointer;
}
.places__gradient {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  height: 48px;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: left;
}
.places__gradient:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  cursor: pointer;
}
.places__gradient_text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
}

.places__website {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.places__url-heading {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaa;
  margin-bottom: 8px;
}
.places__artist {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.places__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  grid-row: span 2;
}
.places__paragraph {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
    width: 93.75%;
    gap: 72px;
  }
  .places__place {
    grid-template-columns: 48.435% 48.435%;
    grid-template-rows: auto 340px auto;
    column-gap: 3.89%;
    row-gap: 48px;
  }
  .places__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    text-align: left;
  }
  .places__image {
    object-fit: contain;
  }

  .places__gradient_text {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
  }

  .places__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
  }
  .places__artist {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  .places__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .places__place {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .places__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    width: 90%;
    margin: 0 auto;
  }
  .places__image {
    object-fit: contain;
    box-shadow: none;
  }
  .places__gradient {
    margin: 0 auto;
    width: 90%;
    border-radius: 4px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: center;
  }
  .places__gradient_text {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: center;
  }
  .places__website {
    width: 90%;
  }
  .places__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
  }
  .places__artist {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  .places__paragraphs {
    width: 90%;
    row-gap: 25px;
  }
  .places__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
  }
}
